.nav-link{
    padding: 0;
}
a{
    color:#1d282f;
}
.form-inline{
    margin-right: 25%;
}
.btn{
    margin-right: 10px;
}
.navbar{
    
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
}
navbar:not([data-scroll='0']) {
    background-color: red;
}
.dropdown a img{
    width: 3rem;
}
.dropdown-menu{
    right: 0;
    left: auto;
}